= form_for @user do |f|
  .row
    .small-12.column
      = f.label :yo_username do
        Your YO username
        = f.text_field :yo_username, placeholder: 'LIFSON'

  .row
    .small-12.column
      = f.submit 'Go', class: 'button'

