%nav.top-bar{data: { topbar: '' } }
  %ul.title-area
    %li.name
      %h1
        = link_to 'EyeScream', root_path

  %section.top-bar-section
    %ul.left
      %li
        = link_to 'a YoSesame Demo', root_path
    - unless params[:controller] == 'home' && params[:action] == 'index'
      %ul.right
        %li
          = link_to 'Logout', logout_path
